#Ignore all files
*

#Git files
!.gitattributes
!.gitignore


#Do not ignore directories (up to 3 levels)
!*/
!*/*/
!*/*/*/

#Source files
!*.v
!*.c
!c_raw.txt
!c2mips.txt

#Programming files
!*.qpf
!*.cdf

#Turnin files
!*.zip